<html>
        
<body>
    <a href="/">Home</a>
  
    <h1>New Car</h1>
    <form action="newcar" method="POST">
        <table>
            <tr>
                <td> <label>maker</label></td>
                <td> <input type="text" name="maker" /></td>
            </tr>
            <tr>
                <td> <label></label> Model</label></td>
                <td> <input type="text" name="model" /></td>
            </tr>
        </tr>
            <tr>
                <td> <button>Submit</button></label></td>
            </tr>
           
        </table> 
        
    </form>
</body>
</html>