<html>
  <head>
    <link rel="stylesheet" href="poms.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to Tutorial Week 6</h1>
      <p>Select an option below</p>
    </div>

    <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
    <a type="button" class="btn btn-primary btn-lg" href="/addcar">Add New Car</a>
    <a type="button" class="btn btn-primary btn-lg" href="/getcars">List Cars</a>
    <a type="button" class="btn btn-primary btn-lg" href="/delcar">Delete Car</a>
    <hr />
  </body>
</html>
